.nav-container {
	text-align: center;
	background-color: #d27d2f;
	padding: 20px 0px 80px 0px;
	
	.home-icon, .camera-icon, .map-icon, .guest-book-icon {
		background-color: #e28d3f;
		width: 60px;
		height: 60px;
		position: absolute;
		cursor: pointer;
		label {
			cursor: pointer;
			font-size: 10px;
			position: absolute;
			white-space: nowrap;
		}
	}

	.home-icon {
		transform: translate(-140px, 0px);
		svg {
			transform: translate(-2px, 8px);
		}
		label {
			transform: translate(-33px, 45px);
		}
	}

	.camera-icon {
		transform: translate(-65px, 0px);
		svg {
			transform: translate(-17px, 6px);
		}
		label {
			transform: translate(-15px, 45px);
		}
	}

	.map-icon {
		transform: translate(8px, 0px);
		svg {
			transform: translate(-18px, 6px);
		}
		label {
			transform: translate(-20px, 45px);
		}
	}

	.guest-book-icon {
		transform: translate(80px, 0px);
		svg {
			transform: translate(-15px, 0px);
		}
		label {
			transform: translate(-20px, 45px);

		}
	}
}